*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1363DF;
    padding: 10px 10vw;
    z-index: 10;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo{
    font-size: 40px;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}

.navList{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

.listItem{
    margin: 0 5px;
    font-size: 25px;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}

.menuIcon{
    display: none;
    color: #fff;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}

@media screen and (max-width:767px){
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #1363DF;
        padding: 10px 10vw;
        position: fixed;
        box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
    .navList{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        right: 10px;
        top: 88px;
        height: 100%;
        background: #4c7cc4;
        width: 65%;
        padding: 50px 30px;
        z-index: 10;
    }
    
    .listItem{
        margin: 15px;
        font-size: 45px;
        text-transform: capitalize;
        color: #fff;
        cursor: pointer;
    }

    .menuIcon{
        color: #fff;
        font-size: 50px;
        font-weight: bolder;
        cursor: pointer;
    }
}